*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
}
.box{
    background-color: rgb(115, 223, 253);
    min-height: 50px;
    border: 1px solid blue;
    font-size:2rem;

}
.box2{
    background-color: rgb(196, 161, 231);
    min-height: 50px;
    border: 2p solid purple;
    font-size: 2rem;
}